####Variables

##'Boolean' data type: Can take either True or False Value
Name of the variable<  Assignment operator   <expression

#Below is the example of Boolean data type

In [4]:
hot_today = True

check if above is Boolean variable. This will give variable type

In [5]:
type(hot_today)

bool

#print variable

In [6]:
print(hot_today)

True

Change variable value

hot_today = False

Now try printing varibale again. We will get new defined variable which has override previous one

In [8]:
print(hot_today)

False

###'Integer dta type': positive or negative whole number

In [9]:
number_of_students = 41

In [10]:
type(number_of_students)

int

In [11]:
print(number_of_students)

41

In [12]:
number_of_students = 60

In [13]:
print (number_of_students)

60

In [14]:
number_of_students = number_of_students-19

In [16]:
print(number_of_students)

41

###'Float dta type': positive or negative Real number

In [17]:
sales_amount = 213.25

In [18]:
type(sales_amount)

float

In [19]:
print(sales_amount)

213.25

In [20]:
sales_amount = 3.23242

In [21]:
print(sales_amount)

3.23242

In [22]:
sales_amount = 3.23242 * sales_amount

In [23]:
print(sales_amount)

10.4485390564

###'String' data type': Sequence of characters

In [24]:
student_name = 'Amit'

In [25]:
type(student_name)

str

In [26]:
print(student_name)

Amit

In [28]:
student_name = 'Sha'

In [29]:
print(student_name)

Sha

In [31]:
student_greeting = 'Hello,' + student_name +'!'

In [32]:
print(student_greeting)

Hello,Sha!

###'List data type': ordered collectio of hetrogeneous items

In [33]:
shopping_list = ['computer table', 'chair']

In [34]:
type(shopping_list)

list

In [35]:
print(shopping_list)

['computer table', 'chair']

In [36]:
shopping_list = [1,2,3,4]

In [37]:
type(shopping_list)

list

In [38]:
print(shopping_list)

[1, 2, 3, 4]

In [39]:
shopping_list = [1,'chair', 3.15]

In [40]:
type(shopping_list)

list

In [42]:
print(shopping_list)

[1, 'chair', 3.15]