In [8]:
s = set()

In [9]:
print (type (s))

<class 'set'>

In [10]:
s_from_list = set([1,2,3,4,5,6])

In [11]:
print (s_from_list)

{1, 2, 3, 4, 5, 6}

In [13]:
set2 = [1,2,3,4,5,6]

In [14]:
type(set2)

list

In [15]:
s_from_list1 =set(set2)

In [16]:
type(s_from_list1)

set

In [23]:
s.add(9) ## sets keep unique values only one 9 will get added. added 2 times
s.add(9)
s.add(10)

In [24]:
print (s)

{9, 10}

In [25]:
s1 = s.union ({1,2,3})

In [26]:
print (s, s1)

{9, 10} {1, 2, 3, 9, 10}

In [27]:
s2 = s.intersection ({1,2,3}) ## nothing is common hence it will print empty

In [28]:
print (s2)

set()