In [2]:
print ("sha")

sha

In [5]:
name_name = 'sha1'

In [6]:
print(name_name)

sha1

In [17]:
#print ('Sha123', 'sha456')

Sha123 sha456

In [19]:
#print ('c:\\narry')

c:\narry

## Escape sequence charecter

In [21]:
print ('Sha is a \n good boy, \t \n1') # comment after statement

Sha is a
 good boy,
1

## Variable and datatype-7

In [22]:
var1 = 'Hello Word'

In [30]:
var4 = 'parul'

In [23]:
print (var1)

Hello Word

In [24]:
var2 = 4

In [25]:
var3 = 36.7

In [27]:
print (type (var2))

<class 'int'>

In [28]:
print (var2 + var3)

40.7

In [37]:
print (var1 + "," + var4)

Hello Word,parul

In [38]:
var5 = "50"

In [45]:
var6 = "43"

## string to integer called typecasting. As we can't add 2 string it just get concatinated hence to do matematical calculation we can typecast

In [46]:
print (int(var5)+ int(var6))

93

## Basic Data-types
"""
int()
str()
float()
"""

## Get input from user

In [54]:
print ('What is your Age')
inpnum = input() ## input will always be str
print (('You entered:'),int(inpnum) + int(10))

What is your Age
23
You entered: 33

## Quiz - Addition of numbers- Take 2 input from user and add those

In [5]:
print ('Enter your first number:')
value1 = input ()
print ('You have entered:', value1)
print ('Enter your second number:')
value2 = input()
print ('You have entered:', value2)
print ('Sum of two numbers Entered:', int(value1) + int(value2))

Enter your first number:
22
You have entered: 22
Enter your second number:
22
You have entered: 22
Sum of two numbers Entered: 44

## tut-7- What is variables- When you store something/placeholder that is variable. Few more example

In [6]:
var1 = "54"

In [7]:
var2 = "32"

In [8]:
var3 = 36.7

In [9]:
var4 = 4

In [13]:
print (100* (var1+var2)) ## concatenated string and typed 100 times because var1 and va2 is string not int or float

5432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432543254325432

In [19]:
print (10* 'Hello world\n')

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

## string slicing and some other function

In [35]:
this_string = "this is my string"

In [21]:
print (this_string) ## printing string

This is my string

## slicing- in python counting starts with 0,1,2,3....

In [22]:
print (this_string[2])

i

In [24]:
print (this_string[0:3])

Thi

In [25]:
print(len(this_string))

17

In [26]:
print (this_string[0:10:2]) ## skipping 1 character

Ti sm

In [27]:
print (this_string.isalpha()) ## function

False

In [29]:
print (this_string.isalnum()) ## function

False

In [30]:
print (this_string.endswith("string")) ## endswith function

True

In [33]:
print (this_string.count('m')) ## count function

1

In [37]:
print (this_string.capitalize()) ## capitalize function

This is my string

In [39]:
print (this_string.find('my')) ## find function - in this case you can find string from your text

8

In [42]:
print (this_string.upper()) ## upper function- makes everything UPPER case

THIS IS MY STRING

In [43]:
print (this_string.replace('is', 'are')) ## replace function to replace!!

thare are my string

## for more  string function please check https://www.w3schools.com/python/python_ref_string.asp

## python list and list function

In [47]:
purchase = ['corn','pepper','salt','suger','tea', 20]

In [48]:
print (purchase)

['corn', 'pepper', 'salt', 'suger', 'tea', 20]

In [49]:
print (purchase[2])

salt

In [2]:
numbers = [2,5,4,7,9]

In [51]:
print (numbers)

[2, 5, 4, 7, 9]

In [52]:
print (numbers[2])

4

In [53]:
numbers.sort()

In [54]:
print (numbers)

[2, 4, 5, 7, 9]

In [55]:
numbers.reverse()

In [56]:
print (numbers)

[9, 7, 5, 4, 2]

## slicing of list

In [57]:
print (numbers[0:4])

[9, 7, 5, 4]

In [58]:
print (numbers[:4]) # we got same result as above 0 is not mandatory

[9, 7, 5, 4]

In [59]:
print (numbers [:]) ## slicing- this will include evething. This doesn't change origional

[9, 7, 5, 4, 2]

## extended slicing

In [62]:
print (numbers[::2]) ## this jumped one

[9, 5, 2]

In [63]:
print (numbers[::-1]) ## it prints list in reverse order

[2, 4, 5, 7, 9]

In [5]:
print (max(numbers))

9

In [6]:
print (min(numbers))

2

In [4]:
print (numbers)

[2, 5, 4, 7, 9]

In [15]:
numbers.append(7)

In [4]:
print (numbers)

[2, 5, 4, 7, 9, 7]

In [16]:
print (numbers.append(9))

None

In [17]:
print (numbers)

[2, 78, 5, 4, 9, 7, 9]

In [7]:
numbers.insert (1, 78)

In [18]:
print (numbers)

[2, 78, 5, 4, 9, 7, 9]

In [19]:
numbers.remove(7) ## This will remove indicated one (7)

In [20]:
print (numbers)

[2, 78, 5, 4, 9, 9]

In [21]:
numbers.pop() ## This will remove last from the sequence

9

In [22]:
numbers[2] = 54 ## it changed number at 2nd spot from 5 to 54. In list we can do this

In [23]:
print (numbers)

[2, 78, 54, 4, 9]

## Mutable - can change- List is mutable .   Immutable- Can't change- tuple is immutable

## Tuple

In [25]:
tpl = (5,4,3,2,1)

In [26]:
print (tpl)

(5, 4, 3, 2, 1)

## tpl[1] = 16 you can't do this as tupple is immutable

In [27]:
a = 5

In [28]:
b = 3

In [29]:
a, b = b, a ## suppose you want to swap the values of a and b

In [31]:
print (a)

3